/* star wars themed font */
@font-face {
    font-family: StarWars;
    src: url(../star_jedi/starjout/Starjout.ttf);
}

/* background image for page */
body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center bottom 140%;
}

/* div that contains title */
header {
    text-align: center;
}

/* title of page */
.title {
    margin: 20px;
    color: rgb(41,195,180);
    font-size: 200%;
    font-family: StarWars
}

/* div that holds the banners */
.bannerBar {
    display: flex;
    flex-flow: row wrap;
    font-family: StarWars;
}

/* banner above fighter start */
.banner , .banner3 {
    color: rgb(41,195,180);
    margin: 0 0 10px 50px;
}
/* banner above fighter start */
.banner2 {
    color: rgb(176,15,71);
    margin: 0 0 10px 50px;
}

/* div that contains fighers at beginning */
.fighterStart {
    margin-bottom: 20px;
    color: rgb(41,195,180);
}

/* div that contains fighers at beginning */
.challengers {
    margin-bottom: 20px;
    color: rgb(41,195,180);
}

/* adjust fighters */
.character{
    font-family: StarWars;
}

/* div that holds player and defender boxes */
.battleArea {
    margin: 40px 80px 0 80px;
}

.userArea {
    color: rgb(41,195,180); 
}

.defenderArea {
    color: rgb(176,15,71);
}

/* adjusts the attack button */
.attackButton {
    text-align: center;
    color: rgb(176,15,71);
    font-family: StarWars
}